.menu{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.btn-login{
    width: fit-content;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    background-color: rgb(255, 4, 4);
}
.login-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}